.card {
	width: 250px;
	margin-right: .9375rem;
	margin-left: .9375rem;
	margin-right: .4687rem;
	margin-left: .4687rem;
}
main.row {
	padding-right: .4687rem;
	padding-left: .4687rem;
}

/* Small only */
@media screen and (max-width: 34.0567em) {
	main.row {
		/* background-color: yellow; */
		max-width: calc( (250px + 0.4687rem * 2) + 0.4687rem * 2);
	}
}

/* Medium and up */
@media screen and (min-width: 34.0568em) and (max-width: 50.618em) {
	main.row {
		/* background-color: blue; */
		max-width: calc( (250px + 0.4687rem * 2) * 2 + 0.4687rem * 2);
	}
}
/* Medium only */
@media screen and (min-width: 50.619em) and (max-width: 67.177em) {
	main.row {
		/* background-color: green; */
		max-width: calc( (250px + 0.4687rem * 2) * 3 + 0.4687rem * 2);
	}
}
/* Large and up */
/* @media screen and (min-width: 64em) { */
@media screen and (min-width: 67.178em) {
	main.row {
		/* background-color: red; */
		max-width: calc( (250px + 0.4687rem * 2) * 4 + 0.4687rem * 2);
	}
}